:host {
  text-align: left;
}

:host ::ng-deep .ant-layout-header,
:host ::ng-deep .ant-layout-footer {
  background: #7dbcea;
  color: #fff;
  text-align: center;
}

:host ::ng-deep .ant-layout-footer {
  line-height: 1.5;
}


:host > ::ng-deep .ant-layout {
  margin-bottom: 48px;
}

:host ::ng-deep .ant-layout:last-child {
  margin: 0;
}
